---
layout: default
---

{% for post in site.posts %}
	<div class="post">
		<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
		
		<p>
			<img src="/media/images/posts/{{post.featured_image}}.jpg" width="225" class="left">
			{{ post.content }}
			{% if post.link1_title %}
				<p><a href="{{post.link1_url}}" targe="_blank">{{post.link1_title}}</a></p>
			{% endif %}
			{% if post.link2_title %}
				<p><a href="{{post.link2_url}}" targe="_blank">{{post.link2_title}}</a></p>
			{% endif %}
		</p>

		<p><small>Posted on: {{post.date | date_to_string}}</small></p>

	</div>
	<div class="clearfix"></div>
{% endfor %}