<li class="icon-email"><a href="mailto:{{ site.email }}" data-toggle-tooltip="tooltip" title="icemancast@gmail">Email</a></li>
<li class="icon-phone"><a data-toggle="modal" data-toggle-tooltip="tooltip" href="#my-digits" title="{{ site.data.personal.phone }}">Phone</a></li>
<li class="icon-github"><a href="https://github.com/{{ site.github_username }}" data-toggle-tooltip="tooltip" title="/{{ site.github_username }}">Github</a></li>
<li class="icon-linkedin"><a href="http://www.linkedin.com/profile/{{ site.data.personal.linkedin }}" data-toggle-tooltip="tooltip" title="Linkedin">Linkedin</a></li>
<li class="icon-googleplus"><a href="https://plus.google.com/{{ site.data.personal.google_plus }}/posts" data-toggle-tooltip="tooltip" title="Google+">Google Plus</a></li>
<li class="icon-twitter"><a href="https://twitter.com/{{ site.twitter_username }}" data-toggle-tooltip="tooltip" title="@{{ site.twitter_username }}">Twitter</a></li>
<li class="icon-me"><a href="/about" data-toggle-tooltip="tooltip" title="About Me">About Me</a></li>
