					<ul class="nav nav-pills nav-stacked bio-nav">
						<li class="icon-email"><a href="mailto:icemancast@gmail.com" data-toggle="tooltip" title="first tooltip">Email</a></li>
				    <li class="icon-phone"><a href="#">Phone</a></li>
				    <li class="icon-github"><a href="https://github.com/icemancast">Github</a></li>
				    <li class="icon-linkedin"><a href="http://www.linkedin.com/profile/view?id=18871848">Linkedin</a></li>
				    <li class="icon-googleplus"><a href="https://plus.google.com/104205610870262290545/posts">Google Plus</a></li>
				    <li class="icon-twitter"><a href="https://twitter.com/icemancast">Twitter</a></li>
				    <li class="icon-me"><a href="#">Me</a></li>
					</ul>