<!-- Modal -->
  <div class="modal fade" id="my-digits" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">My Digits</h4>
        </div>
        <div class="modal-body modal-phone">
          <h2><a href="tel:210-595-0499">(210) 595-0499</a></h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal -->
  <div class="modal fade" id="about-me" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">About Me</h4>
        </div>
        <div class="modal-body">
          <p>I have been doing design, web design and web development work for over
          10 years. I enjoy writing, creating and debugging code. I get a
          satisfaction when all the pieces of a development project come together.
          I have worked with various technologies and languages; Kohana framework,
          PHP, MySQL, CSS, Sass, Capistrano, Git and Wordpress just to name a few.
          My current lamp development environment is Laravel (php MVC framework) on a
          vagrant virtual box.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
