<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>{{site.name}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="description here" />
	<meta name="author" content="Isaac Castillo">

	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<![endif]-->

	<link href='http://fonts.googleapis.com/css?family=Rosario:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Marck+Script' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" media="all" href="/media/css/style.css" />
</head>

<body>

	{% include mobile-nav.html %}

	<h1 class="name visible-md visible-lg"><a href="/">Isaac Castillo</a></h1>

		<div class="row">
			
			{% include bio.html %}

			<div class="col-md-8 col-md-offset-4">

				<div role="main" class="content">
					<h2>{{ page.title }}</h2>
					{{ content }}
				</div>
			
			</div>

		</div>

	{% include footer.html %}

	{% include modals.html %}

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="/media/bootstrap/javascripts/bootstrap.min.js"></script>
	<script>
		(function() {
			$('.bio-nav').tooltip({
	      selector: "[data-toggle-tooltip=tooltip]",
	      container: '.nav',
	      placement: 'right'
	    })
		})();
	</script>
</body>
</html>