<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{ site.data.personal.owner_name }}">
    <meta name="description" content="{{ site.description }}">
    {% feed_meta %}

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Rosario:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" media="all" href="/media/css/style.css" />
</head>

<body>
    {% include analytics.html %}
    {% include mobile-nav.html %}

    <div class="container-fluid">

        <h1 class="name visible-md visible-lg"><a href="/">{{ site.data.personal.owner_name }}</a></h1>
        <h2 class="position-title visible-md visible-lg">{{ site.data.personal.position }}</h2>

            <div class="row">

                <div class="col-md-4 nav-area visible-md visible-lg">
                    <div class="bio-image">
                        <img src="/media/images/isaac.jpg" class="img-rounded img-responsive" />
                        <ul class="nav nav-pills nav-stacked bio-nav">
                            {% include bio-nav.html %}
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <nav>
                        <ul class="nav nav-pills nav-stacked main-nav">
                            {% include nav.html %}
                        </ul>
                    </nav>
                </div>

                <div class="col-md-8 col-md-offset-4">

                    <div role="main" class="content">
                        <h2>{{ page.title }}</h2>
                        {{ content }}
                    </div>

                </div>

            </div>

        {% include footer.html %}

        {% include modals.html %}
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/vendor/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
    <script>

        function loadScript(url, callback){

            var script = document.createElement("script")
            script.type = "text/javascript";

            if (script.readyState){  //IE
                script.onreadystatechange = function(){
                    if (script.readyState == "loaded" ||
                            script.readyState == "complete"){
                        script.onreadystatechange = null;
                        callback();
                    }
                };
            } else {  //Others
                script.onload = function(){
                    callback();
                };
            }

            script.src = url;
            document.getElementsByTagName("head")[0].appendChild(script);
        }

        var eventId;

        var scriptToLoad = 'https://s3.amazonaws.com/checkoutstaging.squadup.com/main-v2.min.js';

        // (function() {
            $('.bio-nav').tooltip({
              selector: "[data-toggle-tooltip=tooltip]",
              container: '.nav',
              placement: 'right'
            })

            $('.btn-ticket-modal').on('click', function(event) {

                eventId = $(this).data('event-id');

                // document.dispatchEvent(new CustomEvent('destroySquadupEmbed'));

                squadup = {
                    title: 'ReImagine Events',
                    image: 'https://static1.squarespace.com/static/57db3bf82994ca0f0c8fe90c/t/58f02d4bf5e231091c3fc95f/1492135250822/Asset+4.png',
                    root: 'squadup-ticket',
                    eventId: eventId,
                    userId: [3430],
                    collapseTicketDescription: true,
                    shoppingCartEnabled: true,
                    paypalEnabled: false,
                    showCheckout: false
                }

                loadScript(scriptToLoad, function(){
                    console.log('script has loaded');
                });

                $('#ticketModal').modal('show')
            });

            $('#view-cart').on('click', function(event) {
                squadup = {
                    title: 'ReImagine Events',
                    image: 'https://static1.squarespace.com/static/57db3bf82994ca0f0c8fe90c/t/58f02d4bf5e231091c3fc95f/1492135250822/Asset+4.png',
                    root: 'squadup-checkout',
                    userId: [3430],
                    collapseTicketDescription: true,
                    shoppingCartEnabled: true,
                    paypalEnabled: false,
                    showCheckout: true
                }

                loadScript(scriptToLoad, function(){
                    console.log('script has loaded');
                });

                $('#checkoutModal').modal('show')
            });
        // });
    </script>

</body>
</html>
