<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{ site.data.personal.owner_name }}">
    <meta name="description" content="{{ site.description }}">
    {% feed_meta %}

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Rosario:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <!-- <link rel="stylesheet" media="all" href="/media/css/style.css" /> -->
</head>

<body>
    {{ content }}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/vendor/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
</body>
</html>
